.input{
    border: 1px solid $color-C4C4C4;
    background-color: transparent;
    padding: 0px 12px;
    height: 40px;
}
.text-area{
    border: 1px solid $color-C4C4C4;
    background-color: transparent;
    padding: 10px 12px;
}

.border-C4C4C4-bottom{
    border-bottom: 1px solid $color-C4C4C4;
}
.border-DCDCDC-bottom{
    border-bottom: 1px solid $color-DCDCDC;
}
.border-C892C6-bottom{
    border: 1px solid $color-C892C6;
}